/*** Whole page and general styling ***/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

.supersize{font-size: 8rem;}
.montserrat{font-family: 'Montserrat'}
.bold{font-weight: 700;}

body{
	background-color: #F6F7EB;
}

/*** The tag buttons styling ***/
.tags{
    width: 95%;
    float: left;
    margin:18px;
	text-align: center;
}

.tags button{
    color:#fff;
    text-align: center;
    padding: 20px;
    
}
.tags button:focus {
    outline:none;
}
.tag{
    text-align: center;
    cursor: pointer;
    font-size:18px;
    margin: 3px;
    border-radius: 6px;
    background-color:#d35400;
    border: none;
    padding: 9px;
    width: auto;
    transition: all 0.5s;
}

.tag span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.tag span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.tag:hover span {
    padding-right: 24px;
}
.tag:hover span:after {
    opacity: 1;
    right: 0;
}

/*** Gallery images styling ***/
#gallery {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    height: auto;
    overflow: hidden;
}

#gallery div.image {
    float: left;
    margin: 6px;
    height: auto;
}
#gallery div.image:hover {
    background-color: coral;
}
#gallery div.desc {
    padding: 3px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

/*** The stand-alone image styling ***/
#gallery-display {
    width: 95%;
    margin: auto;

}
#gallery-display img {
    width: 100%;
    margin: auto;
}
#gallery-display .desc {
    /*font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 54px;
    text-align: center;
	padding: 60px;*/
    text-align: center;
	font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
 	margin-bottom: 1.2375rem;
	text-transform: uppercase;
	color #000;
	letter-spacing: 4px;
}
